<section class="bg-primary" id="main">
    <div class="container">
        <div class="row row-sf">
            <div class="col-lg-10 col-lg-offset-1">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game
                            </div>
                            <div class="project-name">
                                Win a Coffee
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row row-sf">
            <div class="col-lg-10 col-lg-offset-1">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Service
                            </div>
                            <div class="project-name">
                                Change Ticket
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>