<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div ng-class="fs.row_style" class="text-center">
                <h2 class="section-heading">Your Route</h2>
            </div>
        </div>
        <div class="row">
            <div ng-class="fs.row_style">
                <div class="well well-sf">
                    <table class="main-route">
                        <tr>
                            <th width="15%">Arrival</th>
                            <th width="5%"></th>
                            <th width="20%">Departure</th>
                            <th width="50%">Station</th>
                        </tr>
                        <tr class="row-spacer">
                            <td class="text-center"></td>
                            <td class="to_gray">
                                <img src="img/route_orig.gif">
                            </td>
                            <td class="text-center">09:30</td>
                            <td>Roma Termini</td>
                        </tr>
                        <tr>
                            <td class="text-center"></td>
                            <td>
                                <img src="img/route_inter.gif">
                            </td>
                            <td class="text-center">09:38</td>
                            <td>Roma Tirbutina</td>
                        </tr>
                        <tr>
                            <td class="text-center">11:07</td>
                            <td>
                                <img src="img/route_dest.gif">
                            </td>
                            <td class="text-center">11:15</td>
                            <td>Firenze S. M. Novella</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div ng-class="fs.row_style">
                <a ui-sref="main" class="btn btn-default btn-xl">Back</a>
            </div>
        </div>
    </div>
</section>