<section id="about">
    <div class="container">
        <div class="row">
            <div ng-class="fs.row_style" class="text-center">
                <h2 class="section-heading">Choose Your Trip</h2>
            </div>
        </div>
        <div class="row">
            <div ng-class="fs.row_style">
                <form>
                    <div class="form-group">
                        <label for="fromStation">From:</label>
                        <input type="text" class="form-control" id="fromStation" placeholder="From:">
                    </div>
                    <div class="form-group">
                        <label for="toStation">To:</label>
                        <input type="text" class="form-control" id="toStation" placeholder="To:">
                    </div>
                </form>
            </div>
        </div>
        <div class="row lower-center">
            <a ui-sref="search-route" class="btn btn-default btn-xl">Let's Go!</a>
        </div>
    </div>
</section>