<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Detail</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="well well-sf">
                    <table>
                        <tr>
                            <td>Roma</td>
                            <td class="text-right">Venezia Mestre</td>
                        </tr>
                        <tr>
                            <td>FA9440</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="well well-sf">
                    <table>
                        <tr>
                            <td>Venezia Mestre</td>
                            <td>Gaggio Porta Est</td>
                        </tr>
                        <tr>
                            <td>FA9442</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row home-bottom">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <a ui-sref="main" class="btn btn-primary btn-xl page-scroll">Select</a>
            </div>
        </div>
    </div>
</section>