<section id="search">
    <div class="container">
        <div class="row">
            <div ng-class="fs.row_style" class="text-center">
                <h2 class="section-heading">Choose Your Trip</h2>
            </div>
        </div>
        <div class="row">
            <form autocomplete="off">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-1">
                            <label for="fromDate">Date:</label>
                            <div class="input-group">
                                <input id="fromDate" type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-square" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <label for="fromHour">Hour:</label>
                            <input id="fromHour" ng-model="dt_hour" type="number" class="form-control" placeholder="Hour">
                        </div>
                        <div class="col-xs-2">
                            <label for="fromMin">Min:</label>
                            <input id="fromMin" ng-model="dt_min" type="number" class="form-control" placeholder="Min">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="fs.row_style" class="form-group typeahead-demo">
                        <label for="fromStation">From:</label>
                        <input type="text"
                                ng-model="fromStation"
                                placeholder="Locations loaded via $http"
                                typeahead-wait-ms="300"
                                typeahead="station.name for station in trovastazione($viewValue)"
                                typeahead-loading="loadingLocations"
                                typeahead-no-results="noResults" class="form-control" id="fromStation">
                    </div>
                </div>
                <div class="row">
                    <div ng-class="fs.row_style" class="form-group">
                        <label for="toStation">To:</label>
                        <input type="text"
                                ng-model="toStation"
                                placeholder="Locations loaded via $http"
                                typeahead-wait-ms="300"
                                typeahead="station.name for station in trovastazione($viewValue)"
                                typeahead-loading="loadingLocations"
                                typeahead-no-results="noResults" class="form-control" id="toStation">
                    </div>
                </div>
            </form>
        </div>
        <div class="row lower-center">
            <a ui-sref="search-route" class="btn btn-default btn-xl">Let's Go!</a>
        </div>
    </div>
</section>
