<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div ng-class="fs.row_style" class="text-center">
                <h2 class="section-heading">Select Itinerary</h2>
            </div>
        </div>
        <div class="row" ng-click="showDetail()">
            <div ng-class="fs.row_style">
                <div class="option-number">
                    <span class="badge badge-default">1</span>
                </div>
                
                <div class="well well-sf">
                    <table>
                        <tr class="title-row">
                            <td width="48%"><strong>Roma</strong></td>
                            <td width="2%" rowspan="2">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </td>
                            <td width="48%" class="text-right"><strong>Gaggio Porta Est</strong></td>
                        </tr>
                        <tr class="row-border-bottom">
                            <td class="head-row">10:25</td>
                            <td class="head-row text-right">14:25</td>
                        </tr>
                        <tr class="row-spacer">
                            <td class="info-row">
                                <span class="label label-default">FA9440</span>
                                /
                                <span class="label label-default">RE10061</span>
                            </td>
                            <td></td>
                            <td class="info-row text-right">
                                <i class="glyphicon glyphicon-time"></i>
                                3h 55m
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-class="fs.row_style">
                <div class="well well-sf">
                    <table>
                        <tr>
                            <td>Roma</td>
                            <td>Gaggio Porta Est</td>
                        </tr>
                        <tr>
                            <td>FA9442</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>