.container-sf {
    width: 100%;
    height: 100%;
}

.header-logo {
    height: 20px;
}

label {
    'Open Sans','Helvetica Neue',Arial,sans-serif;
}

section {
    padding-top: 71px;
}

h2.section-heading {
    padding-bottom: 20px;
}

.btn-default {
    color: #f05f40;
}

.home-sf {
    background: url("/img/home2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #2D3A42;
    width: 100%;
    height: 100%;
}

.lower-center {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.btn-square {
    border-radius: 4px;
}

.well-sf {
    padding: 24px;
    border-radius: 4px;
    color: #f05f40;
}

.well-small-sf {
    padding: 10px 24px 5px 24px;
    border-radius: 4px;
    color: #f05f40;
}

.well-pic-sf {
    padding: 1px 1px 1px 1px;
    border-radius: 4px;
    color: #f05f40;
}

.well-pic-sf > .img-responsive {
    border-radius: 4px;
}

.progress {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ddd;
}

.well > table {
    width: 100%;
}

.row-sf {
    margin-bottom: 5px;
}

.title-row {
    font-size: 16px;
}

.info-row {
    color: #777;
}

.row-border-bottom {
    border-bottom:1pt solid gray;
}

.row-spacer,
tr.row-spacer > td {
    padding-top: 4px;
}

.option-number {
    float: left;
    padding-left: 3px;
    padding-top: 2px;
}

.badge-default {
    background-color: #f05f40;
}

.main-route {
    font-weight: 700;
}

table.main-route tr th {
    color: black;
    border-bottom:1pt solid gray;
    text-align: left;
}

.to-gray {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.action-feedback {
    padding-top: 10px;
    font-size: 30px;
    letter-spacing: 10px;
    text-align: center;
}

